<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Have Fun and Learn</title>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"
            intergrity="sha256-ZosEbRLbNQzLpnKIkedrPv7l0y9C27hHQ+Xp8a4MxAQ="
            crossorigin='anonymous'></script>
    <script type="text/javascript" src="index_bundle.js"></script>
  </head>
  <body>
    <div id="root"></div>
    <div class="conatiner">
      <div class="row">
        <div class="col-ms-12">
          <h1 class="text-center">{{title}}</h1>
          <form method="POST">
            <div class="row">
              <div class="col-md-1">
                <input type="radio" name="lang" value="es-en" checked>Español-Ingles
              </div>
              <div class="col-md-1">
                <input type="radio" name="lang" value="en-es" checked>Ingles-Español
            </div>
            <div class="form-group">
              <textarea name="translate" id="" cols="30" rows="11" class="form-control"></textarea>
            </div>
            <div class="from-group">
              <input type="submit" class="btn btn-primary" value="Translate"></input>
            </div>
          </form>
          {{# if response}}
            <h1>{{response.dataText}}</h1>
            <h1>{{response.dataTrans}}</h1>
          {{/if}}
        </div>
      </div>
    </div>
  </body>
</html>
