h1 {
  margin: 20px;
  border: 10px solid pink;
  background-color: purple;
  outline-offset: 15px;
  text-shadow: 2px 2px #E613BC;
  color: white;
  text-align: center;
  font-size: 40px;
  font-style: italic;
}
h2 {
  text-shadow: 2px 2px #E613BC;
  color: pink;
  text-align: center;
  font-size: 40px;
  font-style: italic;
}
ul, li {
  text-shadow: 2px 2px #E613BC;
  color: pink;
  font-size: 40px;
  font-style: italic, bold;
}
button {
  text-shadow: 2px 2px #E613BC;
  background-color: pink;
  color: white;
  font-size: 24px;
  border-radius: 5px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  width: 250px;
}
input {
  font-size: 24px;
  border-radius: 5px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  width: 250px;
}
textarea {
  font-size: 24px;
  border-radius: 5px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  width: 250px;
}
.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.square {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  align-items: center;
  border: 2px solid #999;
  float: left;
  font-size: 75px;
  font-weight: bold;
  line-height: 34px;
  height: 100px;
  margin-right: -2px;
  margin-top: -2px;
  padding: 0;
  width: 100px;
}

.square:focus {
  outline: none;
}

.status {
  margin: 10px;
}

.game {
  display: flex;
  flex-direction: row;
}
